:root{
  --glow: 0 0 30px rgba(124, 77, 255, 0.251), 0 0 60px rgba(25,180,168,.15);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  color: white;
}

.bopp{
  height: 5px;
  width: 20%;
  background-color:rgba(124, 77, 255, 0.251);
  border-radius: 5px;
}

.hero-h1{
  font-size: clamp(1rem, 6vw, 4rem);
}

.hero-h2{
  font-size: clamp(2rem, 8vw, 8rem);
}

.hero-p{
  font-size: clamp(1rem, 2vw, 2rem);
}

P{
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.card p{
  font-size: clamp(.75rem, 2vw, 1rem);
}

.background-img {
  position: fixed;
  z-index: -1;
  min-width: 100vw;
  min-height: 100dvh;
  background: linear-gradient(135deg, #000000, #0a0f1f, #1c1f2b);

}


body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  width: 80%;
  height: 90%;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.49);
  box-shadow: var(--glow);
}


aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  height: 100%;
  padding: 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.49);
}

aside img {
  width: 100%;
  height: 30%;
  object-fit: cover;
  border-radius: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 50%;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 5%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 0.5rem;
  position: relative;
}


.slide {
  position: absolute;
  padding: .5rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.slide.active {
  opacity: 1;
  pointer-events: all;
}

.home{
  width: 100%;
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.projects{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.about{
  height:100%;
  width: 100%;
  padding: 4rem;
  display:flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.about-content, .twitch-press{
  height: 45%;
  width: 100%;
  display:flex;
  gap: 20px;
  align-items: center;

}

.about-content img, .twitch-press img{
  width: 45%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;

}

.twitch-button{
  margin-top: 20px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 80%;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}

.card {
  display: flex;
  gap: 15px;
  width: 45%;
  height: 47%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.49);
  transition: all .5s ease-in;
}

.card img {
  width: 50%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.card-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover{
  box-shadow: var(--glow);
  scale: 0.95;
  transform: perspective(1000px) translateY(-2px) rotateX(10deg) translateZ(0);

}

.projects-link {
  align-self: center;
  margin-top: 20px;
  width: 100px;
}

.contact{
  width: 100%;
  height: 100%;
  padding: 4rem;
}

form{
  width: 90%;
  height: 90%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

label{
  margin-top:20px;
  margin-bottom: 5px;
  margin-left: 5px;
}

input{
  height: 35px;
  width: 60%;
  padding-left: .5rem;
}

textarea{
  height: 40%;
  width: 100%;
  padding: .5rem;
}

input, textarea{
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.49);
}

a{
  display: block;
  width: clamp(80px, 2vw, 100px);
  font-size: clamp(.75rem, 2vw, 1rem);
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.49);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  transition: all 0.3s ease;
}

a:hover {
  border-radius: 15px;
  box-shadow: var(--glow);
}

button{
  display: block;
  width: clamp(75px, 40%, 150px);
  font-size: clamp(3pt, 4vw, 11pt);
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.49);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  transition: all 0.3s ease;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #0a0f1f, #1c1f2b);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box; 
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #1c1f2b, #2e3a4d);
}

.menu-bar{
  display: none;
}

@media (max-width:1200px){
  
  .card a{
    padding: .3rem;
    
  }
  
  .card{
    width: 80%;
    max-height: 40%;
  }

  .card img{
    width: 40%;
    height: 50%;
  }
  
    .content-wrapper{
    flex-direction: column;
    width: 95%; 
  }
  
  main{
    width: 100%;
  }
  
  aside{
    height: 8%;
    width: 100%;
    border-bottom:1px solid rgba(255, 255, 255, 0.49);
    border-right: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: .2rem .5rem 0 .5rem;
    transition: all .5s ease;
  }

  .menu-bar{
    display: block;
    width: 50px;
    height: 50px;
  }

  .menuActive{
    height: 45%;
  }

  .navActive{
    opacity: 1;
    pointer-events: all;
  }

  .devforge-logo{
    display: none;
  }
  
  nav{
    display:flex;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease-in-out;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
  }

  nav a {
    width: 100px;
  }

  
  .home{
    padding: 1rem;
  }
  
  .about{
    overflow-y: scroll;
    align-items:center;
  }

  
  .about-content, .twitch-press{
    flex-direction: column;
    height: 90%;
  }
  
  .contact, .about, .projects{
    padding: .5rem;
  }

  form, input, textarea{
    width: 100%;
  }
  
}