body{
    font-family: 'JetBrains Mono';
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.background{
    position:fixed;
    inset:0;
    height: 100vh;
    width: 100vw;
    background: url(./imgs/devforgeworks-cyberpunk.png) no-repeat center center;
    background-size: cover;
    z-index: -1;
    filter: blur(2px);
}

.background::after{
    content:"";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    flex-direction: column;
}

.btn{
    /* border:none; */
    border-radius: 9999px;
    height: 2rem;
    width: 7rem;
    background: transparent;
    color:white;
    backdrop-filter: blur(10px);
}

.section{
    max-width: 1200px;
    margin: 40px auto;
    padding:20px;
    box-shadow: 0px 0px 3px 4px rgba(255,255,255,0.59);
    margin-bottom: 350px;
    backdrop-filter: blur(10px);
    border-radius: 10px;

}
nav{
    width: 100%;
    height:4rem;
    background: transparent;
    backdrop-filter: blur(10px);
    position:fixed;
    inset:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;

}


#workHub{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectCardContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:10px;
}

.projectCard{
    width: 33%;
    position: relative;
    overflow: hidden;
    border-radius:20px;

}

.projectCard a{
    color: white;
}

.projectCard img{
    width:100%;
    border-radius: 20px;
}

.textContainer{
    position: absolute;
    bottom:0;
    left:20px;
    width: 100%;
    box-sizing: border-box;
    
}

.textContainer p{
    max-height: 0;
    overflow: hidden;
    opacity:0;
    transition: max-height 1s ease, opacity 0.5s ease;
    padding-left: 5px;
    padding-right: 20px;

}

.projectCard:has(.overlay:hover) .textContainer p {
    max-height: 200px;
    opacity: 1;
}



.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    inset: 0;
    transition: ease 0.8s;
}

.overlay:hover{
    opacity: 0;
}


.svgIcon{
    width: 50px;
    height: 50px;
}

#workHub{
    height: 500px;
}

#red{
    border: 1px solid red;
}

#blue{
    border: 1px solid blue;
}
#yellow{
    border: 1px solid yellow;
}
#green{
    border: 1px solid green;
}
#lblue{
    border: 1px solid lightblue;
}

#twitch{
    border: 1px solid purple;
}